In [1]:
import os
import pandas as pd #pip install pandas

In [2]:
df1 = pd.read_excel(r'/Users/Pro/Desktop/EtlProject_Web-Scraping/Mubawab_Vente/mubawabVente1-20_clean.xlsx')
df2 = pd.read_excel(r'/Users/Pro/Desktop/EtlProject_Web-Scraping/Mubawab_Vente/mubawabVente21-40_clean.xlsx')
df3 = pd.read_excel(r'/Users/Pro/Desktop/EtlProject_Web-Scraping/Mubawab_Vente/mubawabVente41-60_clean.xlsx')
# df1.drop(columns=['Unnamed: 0', 'Unnamed: 1'])
df1

,Unnamed: 0,Unnamed: 1,Title,Location,Price,Caractéristiques,Pieces,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,0,NaN,Villa sur prestigia 570m² ville verte bouskoura,Bouskoura,7 800 000 DH,"['Jardin', 'Terrasse', 'Garage', 'Piscine', 'C...",NaN,570.0,m²,6,...,bains,Bon,état,2022-05-01 00:00:00,ans,NaN,NaN,570 m²,6 Pièces,5 Salles de bains
1,1,NaN,Appartement 132m² aux portes californie,Quartier Bachkou à Casablanca,1 730 000 DH,"['Jardin', 'Garage', 'Ascenseur', 'Salon Maroc...",NaN,132.0,m²,4,...,bains,Bon,état,2022-10-05 00:00:00,ans,7ème,étage,132 m²,4 Pièces,2 Salles de bains
2,2,NaN,"Appartement de 122m² en vente, Le Prestige Cal...",Californie à Casablanca,1 712 000 DH,"['Climatisation', 'Cuisine équipée', 'Four']",NaN,122.0,m²,4,...,bains,Nouveau,2ème,étage,NaN,NaN,NaN,122 m²,4 Pièces,3 Salles de bains
3,3,NaN,Top affaire magnifique villa a vendre a Agdal ...,Route Amizmiz à Marrakech,2 990 000 DH,"['Jardin', 'Terrasse', 'Piscine']",NaN,250.0,m²,4,...,bains,Nouveau,NaN,NaN,NaN,NaN,NaN,250 m²,4 Pièces,3 Salles de bains
4,4,NaN,Les deux appartements à vendre à Hay Al Riyadh,Riyad à Rabat,2 300 000 DH,"['Terrasse', 'Garage', 'Ascenseur', 'Concierge...",NaN,135.0,m²,4,...,bains,À,rénover,NaN,NaN,NaN,NaN,135 m²,4 Pièces,3 Salles de bains
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,622,NaN,Top affaire villa plein pied a vendre sur la r...,Route Amizmiz à Marrakech,5 700 000 DH,"['Jardin', 'Terrasse', 'Piscine', 'Cheminée', ...",NaN,1000.0,m²,5,...,bains,NaN,NaN,NaN,NaN,NaN,NaN,1000 m²,5 Pièces,4 Salles de bains
623,623,NaN,Top affaire vente villa proche de la mer dar b...,Casablanca,5 600 000 DH,"['Terrasse', 'Piscine', 'Salon Marocain', 'Sal...",NaN,395.0,m²,5,...,bains,NaN,NaN,NaN,NaN,NaN,NaN,395 m²,5 Pièces,3 Salles de bains
624,624,NaN,Opportunité a saisir trés bel appartement a ve...,Ennakhil (Palmeraie) à Marrakech,1 700 000 DH,"['Terrasse', 'Sécurité', 'Cuisine équipée']",NaN,130.0,m²,3,...,bains,NaN,NaN,NaN,NaN,NaN,NaN,130 m²,3 Pièces,2 Salles de bains
625,625,NaN,Beau duplex a vendre,Agdal à Marrakech,3 200 000 DH,"['Terrasse', 'Piscine', 'Sécurité', 'Cuisine é...",NaN,290.0,m²,4,...,bains,Bon,état,NaN,NaN,NaN,NaN,290 m²,4 Pièces,3 Salles de bains
626,626,NaN,Opportunité a saisir trés bel appartement a ve...,Agdal à Marrakech,1 240 000 DH,"['Terrasse', 'Piscine', 'Salon européen', 'Che...",NaN,77.0,m²,3,...,bains,Bon,état,NaN,NaN,NaN,NaN,77 m²,3 Pièces,2 Salles de bains

In [3]:
values1 = df1[['Title','Location','Price','Caractéristiques','Pieces','Description','Pictures','Télephone','Surface']]
values2 = df2[['Title','Location','Price','Caractéristiques','Pieces','Description','Pictures','Télephone','Surface']]
values3 = df3[['Title','Location','Price','Caractéristiques','Pieces','Description','Pictures','Télephone','Surface']]

dataframes = [values1,values2,values3]
join = pd.concat(dataframes)
join.to_excel("ouput.xlsx")

KeyError: "['Description', 'Pictures', 'Télephone', 'Surface'] not in index"